* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: 10vh 10vh 10vh / 10vh 10vh 10vh;
}

.board > div {
    background-color: grey;
    border: solid black 1px;
}

.board > div:hover {
    background-color: rgb(78, 78, 78);
}