* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: 10vh 10vh 10vh / 10vh 10vh 10vh;
}

.empty {
    background-color: grey;
    border: solid black 1px;
}

.x {
    background-color: grey;
    border: solid black 1px;
    background-image: url(images/x-white.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.o {
    background-color: grey;
    border: solid black 1px;
    background-image: url(images/o-white.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.board > div:hover {
    background-color: rgb(78, 78, 78);
}
